@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{       /*CORES*/
--preto: #000;
--branco: #fff;
--cinza_escuro: #343a40; 
--verde: #008000;
--verde_translucido: #00800050;
}

body{
    font-family: Roboto;
}

header{
    background-color: var(--preto);
    color: var(--cinza_escuro);
    padding: 10px 0px;
}

nav, article, main, footer {
    width: 1100px;
    margin: 0px auto;
}


header{
    background-color: var(--cinza_escuro);      
    color: var(--preto);
    padding: 10px 0px;

}

nav{ 
    /* display: flex; */
    /* justify-content: space-between;*/
    align-items: center ;                    
}

nav a{
    color: var(--branco);           
    text-decoration: none;          
    text-transform: uppercase;      
    font-size: .9rem;               
    font-weight: 700;              
}

nav a:hover{                            
    text-decoration: underline;
    color: var(--verde)    
}

nav img{
    border-radius: 8px; 
    margin-right: 50px;                
}

.imagem_destaque img{
    width: 100%;
}

h1{
    font-size: 2.5rem;
    margin: 50px 0px 40px;
    color: var(--cinza_escuro);
    border-bottom: 2px solid var(--verde);
}

h2{
    font-size: 1.8rem;
    color: var(--cinza_escuro);
    margin: 40px 0px 15px 0px;
    border-bottom: 2px solid var(--verde);
}

.imagem_limeira img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;

}

p{
    line-height: 170%;        
    margin-bottom: 10px;            
}

li{
    line-height: 170%;
}

ul, ol{
    margin-bottom: 10px;
    margin-left: 18px;
} 

/*Formatação da Home*/

.home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
    .card{
        width: 32%;
        border: 1px solid var(--cinza_bbb);
        margin-bottom: 30px;
        text-align: center;
        border-radius: 8px;
        img{
            width: 100%;
            border-radius: 8px 8px 0px 0px      /*top-left, top-right, bottom-right, bottom-left*/
        }
        p{
            font-weight: 300;
            margin-left: 10px;
            margin-right: 10px;
        }

        a{
            color: var(--cinza_escuro);
            text-decoration: none;
        }

        a:hover{
            color: forestgreen;
        }
    }
}

.tabela_distancias{
    border-collapse: separate;
    width: 100%;
    
    th{
        background-color: var(--verde);
        color: var(--branco);
        padding: 8px;
        text-align: start;
    }
    td{
        background-color: var(--verde_translucido);
        padding: 10px;
    }
}

.tabela_populacao{
    border-collapse: separate;
    width: 100%;
    
    th{
        background-color: var(--verde);
        color: var(--branco);
        padding: 8px;
        text-align: start;
    }
    td{
        background-color: var(--verde_translucido);
        padding: 10px;
    }
}

.tabela_de_prefeitos{
    border-collapse: separate;
    width: 100%;
    
    th{
        background-color: var(--verde);
        color: var(--branco);
        padding: 8px;
        text-align: start;
    }
    td{
        background-color: var(--verde_translucido);
        padding: 10px;
    }

}
.imagem_prefeitos img{
    width: 100%;
}

.imagem_populacao img{
    width: 100%;
}

.imagem_localizacao img{
    width: 100%;
}

.imagem_esportes img{
    width: 100%;
}

.imagem_prefeitos{
    width: 100%;
}


.patio_shopping img{
    padding: 10px;
    border-radius: 8px;
}

.parque_cidade img{
    padding: 10px;
    border-radius: 8px;
}

.teatro_vitoria img{
    padding: 10px;
    border-radius: 8px;
}

.horto_florestal img{
    padding: 10px;
    border-radius: 8px;
}


/*VERSAO RESPONSIVA*/

@media screen and (max-width: 600px){

    nav, article, main, footer {
        width: 100%;           
    }

    nav img{
        width: 50%;   
        align-items: center;
        margin-left: 45px;   
    }

    nav{
        display: block;                           
        text-align: center;       
        span{
            display: block;
        }                   
    }

    article,main{
        padding-left: 10px;
        padding-right: 10px;
    }

    .imagens{
        display: block;
        img{
            width: 100%;
        }
    }

    .home{

        display: block;
        .card{
            width: 100%;
        }
    }

    iframe{
        width: 100%;
    }

    .patio_shopping img{
        width: 100%;
    }
    
    .parque_cidade img{
        width: 100%;
    }
    
    .teatro_vitoria img{
        width: 100%;
    }
    
    .horto_florestal img{
        width: 100%;            
    }


}








